<footer class="w-full bg-neutral-900 text-white py-10">
	<div class="container">

		<div
			class="grid grid-cols-[repeat(4,max-content)] gap-24">
			{# Pages #}
			<div>
				<a class="uppercase text-left text-xl font-bold mb-3.5 block" href="/">
					About</a>
				<ul class="space-y-2">
					<li>
						<a href="/">Lead Pastors</a>
					</li>
					<li>
						<a href="/">Beliefs</a>
					</li>
					<li>
						<a href="/">Ministries</a>
					</li>
				</ul>
			</div>
			<div>
				<a class="uppercase text-left mb-3.5 block font-bold text-xl" href="/">Connect</a>
				<ul class="space-y-2">
					<li>
						<a href="/">Cell Groups</a>
					</li>
					<li>
						<a href="/">Plan a visit</a>
					</li>
				</ul>
			</div>

			{# Information #}
			<div class="space-y-3.5 justify-self-end">
				<strong class="font-bold text-xl uppercase mb-3.5">Location</strong>
				<address class="not-italic leading-7">{{contact.address|nl2br}}</address>
			</div>

			{# Socials #}
			<div class="justify-self-center space-y-3.5">
				<strong class="font-bold text-xl uppercase mb-3.5">Socials</strong>
				<div class="text-white space-y-2">
					<a class="inline-block" href="mailto:{{contact.email}}">{{contact.email}}</a>
					<a class="block" href="tel:{{contact.contactNumber|replace(' ', '')}}">{{contact.contactNumber}}</a>
				</div>
			</div>
		</div>
		<h5 class="mt-10">&copy; 2023 Made with love, by Shield of Faith Media &hearts;</h5>
	</div>
</footer>
