<footer class="w-full bg-neutral-900 text-white py-10">
	<div class="container">

		<div
			class="grid grid-cols-2 xs:grid-cols-[repeat(3,max-content)] justify-between md:grid-cols-[repeat(4,max-content)] gap-x-6 gap-y-8">
			{# Pages #}
			<div>
				<a class="uppercase text-left md:text-xl font-bold mb-2 sm:mb-3.5 block hover:text-blue-primary transition" href="/">
					About</a>
				<ul class="space-y-1 md:space-y-2 md:text-base text-sm">
					<li>
						<a class="hover:text-blue-primary transition" href="/about#pastors">Lead Pastors</a>
					</li>
					<li>
						<a class="hover:text-blue-primary transition" href="/about#beliefs">Beliefs</a>
					</li>
					<li>
						<a class="hover:text-blue-primary transition" href="/about#ministries">Ministries</a>
					</li>
				</ul>
			</div>
			<div>
				<a class="uppercase md:text-xl text-left mb-2 sm:mb-3.5 block font-bold hover:text-blue-primary transition" href="/">Connect</a>
				<ul class="space-y-1 md:space-y-2 md:text-base text-sm">
					<li>
						<a class="hover:text-blue-primary transition" href="/connect#cell-groups">Cell Groups</a>
					</li>
					<li>
						<a class="hover:text-blue-primary transition" href="/visit-us">Plan a visit</a>
					</li>
				</ul>
			</div>

			{# Information #}
			<div class="xs:col-auto col-span-full">
				<strong class="block font-bold uppercase mb-2 sm:mb-3.5 md:text-xl">Location</strong>
				<address class="not-italic md:leading-7 md:text-base text-sm leading-6">{{contact.address|nl2br}}</address>
				<a class="mt-1 block text-blue-500 md:text-base text-sm hover:text-blue-primary transition" href="mailto:{{contact.email}}">{{contact.email}}</a>
				<a class="mt-1 block text-blue-500 md:text-base text-sm hover:text-blue-primary transition" href="tel:{{contact.contactNumber|replace(' ', '')}}">{{contact.contactNumber}}</a>
			</div>

			{# Socials #}
			<div class="col-span-full md:col-auto xs:mt-0 mt-4">
				<strong class="md:block hidden font-bold text-xl uppercase mb-3.5">Socials</strong>
				<div class="flex gap-1.5">
					<a href="https://www.instagram.com/shieldofaith" target="_blank" class="group">
						<svg class="fill-white hover:fill-blue-primary transition" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="34px" height="34px">
							<path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"/></svg>
					</a>
					<a href="https://www.facebook.com/shieldofaith" target="_blank">
						<svg class="fill-white hover:fill-blue-primary transition" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="34px" height="34px">
							<path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"/></svg>
					</a>
					<a href="https://www.youtube.com/@sofkaizen5441" target="_blank">
						<svg class="fill-white hover:fill-blue-primary transition" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="34px" height="34px">
							<path d="M 15 4 C 10.814 4 5.3808594 5.0488281 5.3808594 5.0488281 L 5.3671875 5.0644531 C 3.4606632 5.3693645 2 7.0076245 2 9 L 2 15 L 2 15.001953 L 2 21 L 2 21.001953 A 4 4 0 0 0 5.3769531 24.945312 L 5.3808594 24.951172 C 5.3808594 24.951172 10.814 26.001953 15 26.001953 C 19.186 26.001953 24.619141 24.951172 24.619141 24.951172 L 24.621094 24.949219 A 4 4 0 0 0 28 21.001953 L 28 21 L 28 15.001953 L 28 15 L 28 9 A 4 4 0 0 0 24.623047 5.0546875 L 24.619141 5.0488281 C 24.619141 5.0488281 19.186 4 15 4 z M 12 10.398438 L 20 15 L 12 19.601562 L 12 10.398438 z"/></svg>
					</a>
				</div>
			</div>
		</div>
		<h5 class="mt-12 md:text-base text-sm">&copy; 2023 Made with love, by Shield of Faith Media &#9825;</h5>
	</div>
</footer>
