{% extends "_layouts/base" %}

{% set headingAndTextBlock = entry.headingAndText.one() %}

{% block main %}
	<section
		class="relative h-[calc(100vh-6rem)]">
		{# Mission #}
		<div class="container h-full flex items-center">
			<div class="-mt-12">
				<h1 class="font-extrabold text-5xl lg:text-7xl text-gray-dark">{{headingAndTextBlock.heading}}</h1>
				<p class="mt-10 max-w-6xl text-base sm:text-lg lg:text-xl">{{headingAndTextBlock.text|nl2br}}</p>
			</div>
			{# Visit Us #}
			{% include "_components/visit-us" only %}
		</div>
	</section>

	{# Pastors #}
	{% set cardAndContentBlocks = entry.cardAndContent.all() %}
	<section class="my-20 space-y-20 container">
		{% for block in cardAndContentBlocks %}
			{% set cardImage = block.image.one() ?? null %}
			<div class="flex gap-10 overflow-x-hidden">
				<div class="z-2 rounded-2xl {% if loop.index is divisible by(2) %}order-2{% endif %}">
					{% if cardImage %}
						<picture>
							{% if craft.app.images.supportsWebP %}
								<source type="image/webp" srcset="{{ cardImage.url({ width: 870, format: 'webp' }) }} 870w">
							{% endif %}
							<img src="{{ cardImage.url({ width: 435, height: 400 }) }}" srcset="{{ cardImage.url({ width: 870 }) }} 870w" alt="{{ cardImage.title }}" class="block object-cover rounded-2xl max-h-[396px] h-[396px] max-w-[435px] w-[435px]">
						</picture>
					{% else %}
						<img src="{{ cardImage.url }}" alt="{{ cardImage.title }}" class="border border-red-500 p-2">
					{% endif %}
				</div>
				<div>
					<div class="mb-5 relative z-1 pt-4 pb-5 text-white after:absolute after:bg-blue-900 after:top-0 after:w-[125%] after:h-full after:-z-1 after:rounded-2xl {% if loop.index is divisible by(2) %}after:left-0 pl-10{% else %}after:right-0{% endif %}">
						<h2 class="text-3xl uppercase font-medium mb-1">{{block.heading}}</h2>
						<h3 class="font-extrabold text-3xl">{{block.subheading}}</h3>
					</div>
					<p class="{% if loop.index is divisible by(2) %}pl-10{% else %} pr-10{% endif %}">{{block.text|nl2br}}</p>
				</div>
			</div>
		{% endfor %}
	</section>

	{# Statement of Faith #}
	<section class="container">
		<h2 class="text-4xl py-24 md:py-48 leading-[48px] text-gray-dark text-center">
			<span class="font-extrabold">"</span>
			{{entry.statement}}<span class="font-extrabold">"</span>
		</h2>
	</section>

	{# Ministries #}
	{% set ministries = entry.card.all() %}
	<section class="mt-20 mb-48">
		<h2 class="container font-extrabold text-64 text-gray-dark mb-16">{{entry.heading}}</h2>
		<div class="max-w-[1440px] mx-auto">
			<splide aria-labelledby="Our Ministries" :has-track="false" :options="{ perPage: 3, perMove: 1, gap: 12, keyboard: 'global'}">
				<splide-track>
					{% for ministry in ministries %}
						{% set ministryImage = ministry.image.one() ?? null %}
						<splide-slide class="group h-[500px] w-[500px] min-w-[500px] rounded-2xl relative overflow-hidden">
							{% if ministryImage %}
								<picture>
									{% if craft.app.images.supportsWebP %}
										<source type="image/webp" srcset="{{ ministryImage.url({ width: 500, format: 'webp' }) }} 1000w">
									{% endif %}
									<img src="{{ ministryImage.url({ width: 500, height: 500 }) }}" srcset="{{ ministryImage.url({ width: 500 }) }} 1000w" alt="{{ ministryImage.title }}" class="object-cover h-full w-full group-hover:scale-105 transition-transform">
								</picture>
							{% else %}
								<img src="{{ ministryImage.url }}" alt="{{ ministryImage.title }}" class="border border-red-500 p-2">
							{% endif %}
							<span class="text-white text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl z-2 font-bold">{{ministry.heading}}</span>
							<div class="bg-black/60 z-1 absolute top-0 left-0 w-full h-full group-hover:bg-black/30 transition-colors"></div>
						</splide-slide>
					{% endfor %}
				</splide-track>

				<div class="splide__arrows">
					<button type="button" aria-label="Previous Slide" class="splide__arrow splide__arrow--prev">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
						</svg>
					</button>
					<button type="button" aria-label="Next Slide" class="splide__arrow splide__arrow--next">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
						</svg>
					</button>
				</div>
			</splide>
		</div>
	</section>
{% endblock %}
