{% extends "_layouts/base" %}

{% set headingAndTextBlock = entry.headingAndText.one() %}

{% block main %}
	{% cache %}
	<section
		class="relative h-[calc(100vh-11vh)]">
		{# Mission #}
		<div class="wrapper h-full flex items-center">
			<div class="-mt-12">
				<h1 class="font-extrabold text-9xl">{{headingAndTextBlock.heading}}</h1>
				<p class="mt-8 mb-10 max-w-6xl text-xl">{{headingAndTextBlock.text|nl2br}}</p>
				<a class="hover:text-white hover:bg-neutral-900 transition-colors border-2 border-neutral-900 w-60 text-center pt-2 pb-2.5 uppercase font-bold rounded-lg block" href="{{entry.linkField}}">{{entry.linkField.customText}}</a>
			</div>
			{# Visit Us #}
			{% include "_components/visit-us" with { 'blueBg': true } only %}
		</div>
	</section>

	{# Pastors #}
	{% set cardAndContentBlocks = entry.cardAndContent.all() %}
	<section class="my-24 space-y-20 wrapper overflow-x-hidden">
		{% for block in cardAndContentBlocks %}
			{% set cardImage = block.image.one() ?? null %}
			<div class="flex gap-20 items-center">
				<div class="bg-gray-200 shadow-gray-400 p-6 pb-20 z-2 shadow-md border-r border-gray-400/70 overflow-hidden rounded-sm {% if loop.index is divisible by(2) %}order-2{% endif %}">
					{% if cardImage %}
						<picture>
							{% if craft.app.images.supportsWebP %}
								<source type="image/webp" srcset="{{ cardImage.url({ width: 640, format: 'webp' }) }} 640w">
							{% endif %}
							<img src="{{ cardImage.url({ width: 640, height: 640 }) }}" srcset="{{ cardImage.url({ width: 640 }) }} 640w" alt="{{ cardImage.title }}" class="block object-cover h-full w-full">
						</picture>
					{% else %}
						<img src="{{ cardImage.url }}" alt="{{ cardImage.title }}" class="border border-red-500 p-2">
					{% endif %}
				</div>
				<div>
					<div class="mb-8 relative z-1 pt-2 pb-3 text-white after:absolute after:bg-blue-900 after:top-0 after:w-screen  after:h-full after:-z-1 after:rounded-xl {% if loop.index is divisible by(2) %}after:left-0 pl-7{% else %}after:right-0{% endif %}">
						<h2 class="text-3xl uppercase">{{block.heading}}</h2>
						<h3 class="font-bold text-4xl">{{block.subheading}}</h3>
					</div>
					<p class="{% if loop.index is divisible by(2) %}pl-7{% endif %}">{{block.text|nl2br}}</p>
				</div>
			</div>
		{% endfor %}
	</section>

	{# Statement of Faith #}
	<section class="wrapper">
		<h2 class="text-9xl font-bold py-48 text-center italic">"{{entry.statement}}"</h2>
	</section>

	{# Ministries #}
	{% set cardBlocks = entry.card.all() %}
	<section class="wrapper mt-20 mb-32">
		<h2 class="font-extrabold text-9xl mb-16">{{entry.heading}}</h2>
		<div class="grid grid-cols-3 gap-y-12 gap-x-16">
			{% for card in cardBlocks %}
				{% set cardImage = card.image.one() ?? null %}
				<div class="bg-gray-200 shadow-gray-400 p-6 pb-20 z-2 w-full shadow-md border-r border-gray-400/70 overflow-hidden rounded-sm {% if loop.index is divisible by(2) %}order-2{% endif %}">
					{% if cardImage %}
						<picture>
							{% if craft.app.images.supportsWebP %}
								<source type="image/webp" srcset="{{ cardImage.url({ width: 640, format: 'webp' }) }} 640w">
							{% endif %}
							<img src="{{ cardImage.url({ width: 640, height: 640 }) }}" srcset="{{ cardImage.url({ width: 640 }) }} 640w" alt="{{ cardImage.title }}" class="block object-cover h-full w-full">
						</picture>
					{% else %}
						<img src="{{ cardImage.url }}" alt="{{ cardImage.title }}" class="border border-red-500 p-2">
					{% endif %}
					<h3 class="text-center text-5xl pt-3 font-bold tracking-tighter text-zinc-900">{{card.heading}}</h3>
				</div>
			{% endfor %}
		</div>
	</section>
	{% endcache %}
{% endblock %}
