{% extends "_layouts/base" %}

{% block main %}
	<section class="relative h-[calc(100vh-11vh)]">
		<div class="wrapper h-full flex items-center">
			<div class="-mt-20 text-center">
				<h1 class="font-extrabold text-9xl mb-16 text-black">{{entry.heading}}</h1>
				<a href="#details">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="4" stroke="currentColor" class="text-zinc-900 w-28 h-28 hover:text-zinc-800 transition-colors animate-bounce inline-block">
						<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
					</svg>
				</a>
			</div>
			{# Visit Us #}
			{% include "_components/visit-us" with { 'blueBg': true } only %}
		</div>
	</section>

	{# Times & Location #}
	{% set timesAndLocationBlock = entry.timesAndLocations.one() %}
	<section class="wrapper mb-24 text-zinc-900" id="details">
		<h2 class="text-7xl font-bold py-12">Times and Locations</h2>
		<div class="flex h-auto gap-12 items-center">
			{% set locationImage = timesAndLocationBlock.image.one() ?? null %}
			<div class="rounded-2xl max-w-2xl overflow-hidden">
				{% if locationImage %}
					<picture>
						{% if craft.app.images.supportsWebP %}
							<source type="image/webp" srcset="{{ locationImage.url({ width: 600, format: 'webp' }) }} 600w">
						{% endif %}
						<img src="{{ locationImage.url({ width: 600, height: 500 }) }}" alt="{{ locationImage.title }}" class="block object-cover w-full h-full">
					</picture>
				{% else %}
					<img src="{{ locationImage.url }}" alt="{{ locationImage.title }}" class="border border-red-500 p-2">
				{% endif %}
			</div>
			<div>
				<h3 class="text-6xl font-bold">{{timesAndLocationBlock.location}}</h3>
				<address class="text-2xl not-italic my-6">{{timesAndLocationBlock.address|nl2br}}</address>
				<table>
					<tbody valign="top">
						{% for time in timesAndLocationBlock.times %}
							<tr class="grid grid-cols-[1fr,max-content,1fr] gap-1 uppercase text-2xl">
								<td>{{time.col1}}</td>
								<td class="-ml-0.5 -mt-0.5">|</td>
								<td>{{time.col2}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a class="btn btn--uppercase mt-10" href="{{timesAndLocationBlock.button.linkedUrl}}">{{timesAndLocationBlock.button.customText}}</a>
			</div>
		</div>
	</section>

	{# Ushers #}
	<section class="relative my-24">
		{% set bgImage = entry.backgroundImage.one() ?? null %}
		<div class="absolute w-full h-full top-0 z-0">
			{% if bgImage %}
				<picture>
					{% if craft.app.images.supportsWebP %}
						<source type="image/webp" srcset="{{ bgImage.url({ width: 2000, format: 'webp' }) }} 2000w">
					{% endif %}
					<img src="{{ bgImage.url({ width: 2000, height: 500 }) }}" alt="{{ bgImage.title }}" class="block object-cover w-full h-full">
				</picture>
			{% else %}
				<img src="{{ bgImage.url }}" alt="{{ bgImage.title }}" class="border border-red-500 p-2">
			{% endif %}
		</div>

		{% set imageAndContentBlock = entry.imageAndContent.one() %}
		<div class="wrapper relative text-white py-32">
			{% set contentImage = imageAndContentBlock.image.one() ?? null %}
			<div class="flex items-center gap-12">
				<div class="flex items-center justify-center">
					<div class="z-2">
						<h3 class="text-3xl uppercase tracking-widest">{{imageAndContentBlock.subheading}}</h3>
						<h2 class="text-9xl font-black mb-10 uppercase leading-none">{{imageAndContentBlock.heading}}</h2>
						<p class="text-xl">{{imageAndContentBlock.text}}</p>
					</div>
				</div>
				<div class="overflow-hidden rounded-2xl max-w-2xl">
					{% if contentImage %}
						<picture>
							{% if craft.app.images.supportsWebP %}
								<source type="image/webp" srcset="{{ contentImage.url({ width: 2000, format: 'webp' }) }} 2000w">
							{% endif %}
							<img src="{{ contentImage.url({ width: 2000, height: 500 }) }}" srcset="{{ contentImage.url({ width: 2000}) }} 2000w" alt="{{ contentImage.title }}" class="block object-cover h-full w-full">
						</picture>
					{% else %}
						<img src="{{ contentImage.url }}" alt="{{ contentImage.title }}" class="border border-red-500 p-2">
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	{# FAQ #}
	<section class="wrapper mt-24 mb-24 text-zinc-900">
		<h2 class="text-7xl font-bold mb-12">FAQ</h2>
		{% set faqBlocks = entry.faq.all() %}

		{% for faq in faqBlocks %}
			<accordion>
				<template v-slot:question>
					{{faq.question}}
				</template>
				<template v-slot:answer>
					{{faq.text|raw}}
				</template>
			</accordion>
		{% endfor %}

		<div class="mt-24 text-3xl font-bold">
			<h3>Have any questions? Contact us on Facebook at
				<a href="https://www.facebook.com/shieldofaith" target="_blank" class="text-blue-primary hover:text-blue-primary/90">@shieldofaith</a>
			</h3>
		</div>

	</section>

{% endblock %}
