{# Homepage #}
{% extends "_layouts/base" %}

{% set imageAndContentBlock = entry.imageAndContent.one() %}
{% set heroBlock = entry.hero.one() %}

{% block main %}
	<section
		class="relative md:h-[calc(100vh-6rem)] h-[calc(100vh-5rem)]">
		{# Mission #}
		<div class="container h-full flex items-center text-gray-dark">
			<div class="-mt-12 max-w-2xl">
				<h1 class="font-extrabold text-5xl lg:text-8xl tracking-tighter">{{heroBlock.heading}}</h1>
				<p class="mt-6 md:mt-10 text-sm xs:text-base md:text-xl font-extrabold uppercase tracking-widest">{{heroBlock.subheading}}</p>
			</div>
			{# Visit Us #}
			{% include "_components/visit-us" only %}
		</div>
	</section>

	{# Filler #}
	<div class="h-96 bg-white flex justify-center items-center text-4xl font-bold">
		<p class="border-2 border-gray-900 p-36">Hype Video</p>
	</div>

	{# Ministries #}
	<section class="relative mt-24 mb-40 md:my-36">
		{% set ministries = craft.entries().section('ministries').all() %}
		<div class="">
			<splide aria-labelledby="Our Ministries" :has-track="false" :options="{ perMove: 1, focus: 'center', keyboard: 'global', pagination: false, arrows: false, autoplay: 'play', rewind: true}">
				<splide-track>
					{% for ministry in ministries %}
						{% set ministryImage = ministry.ministryImage.one() ?? null %}
						<splide-slide class="group relative overflow-hidden cursor-grab max-w-xs">
							{% if ministryImage %}
								<picture>
									{% if craft.app.images.supportsWebP %}
										<source type="image/webp" srcset="{{ ministryImage.url({ width: 500, format: 'webp' }) }} 1000w">
									{% endif %}
									<img src="{{ ministryImage.url({ width: 500, height: 500 }) }}" srcset="{{ ministryImage.url({ width: 500 }) }} 1000w" alt="{{ ministryImage.title }}" class="object-cover h-full w-full group-hover:scale-105 transition-transform">
								</picture>
							{% else %}
								<img alt="{{ ministry.title }}" class="border border-red-500 p-2">
							{% endif %}
							<span class="text-white text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl z-2 font-bold">{{ministry.title}}</span>
							<div class="bg-black/60 z-1 absolute top-0 left-0 w-full h-full group-hover:bg-black/30 transition-colors"></div>
						</splide-slide>
					{% endfor %}
				</splide-track>
			</splide>
		</div>
	</section>

	{# Preaching #}
	{% set preaching = entry.preaching.one() %}
	<section class="relative md:mt-36 md:mb-60 mb-40 mt-24 container">
		<h2 class="text-lg sm:text-xl md:text-3xl tracking-widest uppercase text-gray-dark font-extrabold">Latest Sermon &gt; &gt; &gt;</h2>
		<h3 class="text-5xl lg:text-8xl tracking-tighter text-gray-dark md:mt-4 mt-2 md:mb-6 mb-4 font-extrabold">{{preaching.heading}}</h3>
		<h4 class="text-base sm:text-lg lg:text-2xl tracking-widest font-medium mt-3">{{preaching.subheading}}</h4>
		{% set video = craft.embeddedAssets.get(preaching.video.one()) %}
		{{ video.getIframeCode( ['controls=1'], ['loading=lazy', 'width=100%', 'height=100%'],['frameborder'])|attr({class:['aspect-video lg:mt-16 mt-8 rounded-2xl w-full h-full']}) }}
	</section>

	{# Pastors #}
	<section class="relative mt-24 mb-40 md:my-36">
		{% set imageAndContentBlock = entry.imageAndContent.one() %}
		<div class="container relative text-gray-dark">
			{% set contentImage = imageAndContentBlock.image.one() ?? null %}
			<div class="grid md:grid-cols-2 grid-rows-[max-content_max-content] gap-x-10 lg:gap-x-16">
				<div class="overflow-hidden min-h-full md:row-span-full md:max-h-full max-h-96 md:order-1 order-2">
					{% if contentImage %}
						<picture>
							{% if craft.app.images.supportsWebP %}
								<source type="image/webp" srcset="{{ contentImage.url({ width: 2000, format: 'webp' }) }} 2000w">
							{% endif %}
							<img src="{{ contentImage.url({ width: 2000, height: 500 }) }}" srcset="{{ contentImage.url({ width: 2000}) }} 2000w" alt="{{ contentImage.title }}" class="block object-cover rounded-2xl h-full w-full">
						</picture>
					{% else %}
						<img src="{{ contentImage.url }}" alt="{{ contentImage.title }}" class="border border-red-500 p-2">
					{% endif %}
				</div>
				<div class="order-1 md:order-2">
					<h3 class="text-lg sm:text-2xl lg:text-4xl uppercase font-semibold tracking-widest">{{imageAndContentBlock.subheading}}</h3>
					<h2 class="text-6xl sm:text-7xl lg:text-8xl font-extrabold mb-5 mt-2 lg:my-6 tracking-tighter uppercase">{{imageAndContentBlock.heading}}</h2>
				</div>
				<div class="order-3 mt-6 md:mt-0">
					<p class="text-sm xs:text-base md:text-xl lg:text-2xl mb-6 lg:mb-12">{{imageAndContentBlock.text}}</p>
					<a href="{{imageAndContentBlock.contentEntry.one.url}}" class="btn self-baseline">Learn More</a>
				</div>
			</div>
		</div>
	</section>

	{# Family #}
	{% set videoAndContent = entry.videoAndContent.one() %}
	<section class="container mt-24 mb-40 md:my-36">
		<h2 class="sm:text-xl lg:text-3xl tracking-widest text-gray-dark font-extrabold uppercase mb-1.5 sm:mb-3 lg:mb-6">Here at Shield of faith &gt; &gt; &gt;</h2>
		<div class="flex gap-8 lg:gap-12 lg:items-center lg:justify-between lg:flex-row flex-col">
			<h3 class="text-4xl sm:text-6xl lg:text-8xl lg:w-1/2 font-extrabold capitalize text-gray-dark">{{videoAndContent.heading}}</h3>
			<div class="lg:w-1/2 min-h-full overflow-hidden relative">
				{{ video.getIframeCode( ['controls=1'], ['loading=lazy'])|attr({class:['aspect-video rounded-2xl w-full h-full']}) }}
			</div>
		</div>
	</section>

	{# Contact Form #}
	{% set contactForm = craft.entries.section('contactForm').one() %}
	<section class="container my-36 md:my-64 text-gray-dark">
		<h2 class="text-4xl sm:text-5xl lg:text-6xl tracking-tighter font-extrabold sm:mb-8 mb-4">{{contactForm.heading}}</h2>
		<p class="sm:text-xl lg:text-2xl">{{contactForm.subheading}}</p>
		<contact-form>
			<template v-slot:hidden-inputs>
				{{csrfInput()}}
				{{actionInput('contact-form/send')}}
			</template>
		</contact-form>
	</section>
{% endblock %}
